@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

:root {
    --font: 'Roboto Mono', sans-serif;
    --font-weight-thin: 100;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    background-color: #101010;
    color: white;
}

.sub-info {
    font-family: var(--font);
    font-weight: var(--font-weight-thin);
    letter-spacing: 0.06em;
}

.icon {
    color: white;
}

.glass {
    background: rgba(26, 100, 40, 0.3);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
}

.nav-link {
    transition: all 0.3s ease;
}

.nav-link:hover {
    transform: translateY(-2px);
}
